:root{
    box-sizing: border-box;
}

main#contain{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

#containerforboxes{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    border: 1px solid black;
    background-color: cornflowerblue;
    margin-bottom: 25px;
}

.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 70px;
    width: 70px;
    background-color: wheat;
}

#playButton{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 3em;
    background-color: rgb(204, 66, 66);

}

#result{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: rgb(182, 253, 112);
    
}